<!DOCTYPE html>
<html lang="en">
<head>
  <title>Furniture</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/Users/stevenelleman/Desktop/rails_decal/proj2/free_for_sale_css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="header">
  Free &amp; For Sale
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="clothing.html.erb">Clothing</a></li>
        <li><a href="furniture.html.erb">Furniture</a></li>
        <li><a href="electronics.html.erb">Electronics</a></li>
        <li><a href="housing.html.erb">Housing</a></li>
        <li><a href="school.html.erb">School</a></li>
        <li><a href="services.html.erb">Services</a></li>
        <li><a href="misc.html.erb">Misc</a></li>
      </ul>
    </div>
  </div>
</nav>



</body>
</html>
