<div class="container">
  <h3>Items</h3>
  <table class="table">
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= item.title %>
          </td>
          <td>
            <%= item.location %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
